[submodule "hardware/kicad_library/external/RP2040-Zero-Kicad"]
	path = hardware/kicad_library/external/RP2040-Zero-Kicad
	url = git@github.com:CountParadox/RP2040-Zero-Kicad.git
[submodule "hardware/kicad_library/external/MX_V2"]
	path = hardware/kicad_library/external/MX_V2
	url = git@github.com:ai03-2725/MX_V2.git
[submodule "hardware/kicad_library/external/Keebio-Parts.pretty"]
	path = hardware/kicad_library/external/Keebio-Parts.pretty
	url = git@github.com:keebio/Keebio-Parts.pretty.git
[submodule "hardware/kicad_library/external/KiCAD_FootPrint"]
	path = hardware/kicad_library/external/KiCAD_FootPrint
	url = git@github.com:Salicylic-acid3/KiCAD_FootPrint.git
[submodule "farms/qmk_firmware"]
	path = farms/qmk_firmware
	url = git@github.com:cormoran/qmk_firmware.git
